<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" name="color-scheme: light-only" />
  <title>Demystifying Email Design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

    <body>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="background-color:white; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
            <tr bgcolor="#ffffff">
                <td align="center">
                    <table border="0" cellpadding="0" cellspacing="0" width="337pt" height="495pt" align="center" style="border: 1px solid #73c088;border-radius: 15px;">
                        <tr>
                            <td style="border-radius: 15px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" style="border-collapse: collapse;">
                                    <tr>
                                        <td align="center" style="padding: 47pt 74pt 0 74pt;">
                                            <img src="https://user-images.githubusercontent.com/41534832/99251821-52b52f80-2851-11eb-8114-f63c8c01ac30.png">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" width="202pt" height="24pt" style="padding: 37pt 67pt 0 67pt; font-size: 20px; color: black; line-height: 25px; letter-spacing: -0.4px;">
                                            인증 코드를 입력해주세요!
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" width="224pt" height="40pt" style="padding: 20px 56px 0 57px; font-size: 15px; color: #909090; line-height: 22pt; letter-spacing: -0.3pt;">
                                            아래 본인 확인 인증 코드 6자리를<br/>제한 시간 안에 몽글 앱에 입력해주세요
                                        </td>
                                    </tr>
                                    	
                                    <tr>
                                        <td style="font-size: 0; line-height: 0;" height="37">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr> 
                                        <td align="center">
                                            <table border="0" cellpadding="0" cellspacing="0" width="266px" height="129px" align="center" style="padding: 37px 35px 0 36px; border-collapse: collapse;">
                                                <tr>
                                                    <td align="center" width="152pt" height="54pt" bgcolor="#bce3c3" style="padding: 37px 57px 37px 57px; font-size: 40px; color: black; line-height: 25px; letter-spacing: 2.4px; border-radius: 20pt;">
                                                        <%=authCode%>
                                                    </td>
                                                </tr>
                                            </table>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="font-size: 0; line-height: 0;" height="38">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    
                                </table>
                                
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
        </table>
    </body>
</html>